@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Rubik");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  overflow-y: scroll; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*, *:before, *:after {
  box-sizing: border-box; }

*:focus {
  outline: none; }

button {
  outline: none; }

.header-main {
  background: black;
  height: 11vh;
  position: relative; }

.logo-head {
  margin-left: 45px;
  margin-top: 5px;
  height: 90%; }

.login-bar {
  position: absolute;
  height: 40%;
  width: 80%;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #434343);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #434343);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 5%; }

.tracker {
  font-size: .7rem;
  color: gray;
  font-family: "Poppins", sans-serif;
  padding-right: 5px;
  padding-top: 10px; }

.news-letter {
  font-size: .8rem;
  padding-left: 5px;
  padding-right: 5px;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  padding-top: 10px; }

.news-letter:hover {
  background: whitesmoke;
  color: black; }

.login-link {
  font-size: .7rem;
  font-family: "Poppins", sans-serif;
  padding-top: 10px; }

.menu-div {
  color: whitesmoke;
  position: absolute;
  bottom: 0;
  width: 80%;
  display: flex;
  margin-left: 20%; }

.menu {
  text-align: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  color: whitesmoke; }
  .menu li {
    padding: 9px;
    font-family: "Rubik", sans-serif;
    text-align: center; }

li:hover {
  background: whitesmoke;
  color: black; }
